#root {
	.phone.portrait.mobile,
	.phone.portrait:not(*.mobile),
	.phone.landscape.mobile,
	.phone.landscape:not(*.mobile),
	.tablet.portrait.mobile,
	.tablet.portrait:not(*.mobile),
	.tablet.landscape.mobile,
	.tablet.landscape:not(*.mobile),
	.large-screen.portrait,
	.large-screen.landscape,
	.xl-screen.portrait,
	.xl-screen.landscape {
		.realtime-entrance {
			position: relative;
			--stroke-color: white;
			--font-size: 1rem;
			font-size: 1rem;
			.heading .letter {
				font-size: 1.75rem;
			}
			// --shadow-color: yellow;

			// z-index: 1;
			.background {
				--gradient-color-1: var(--secondary);
				--gradient-color-2: var(--white);
				--gradient-color-3: var(--secondary);
				opacity: 0.5;
				z-index: 0;
				&:before {
					z-index: 10;
				}
			}

			.section {
				display: flex;
				z-index: 1;
				flex-direction: column;
				position: relative;

				&.section--header {
					padding: var(--spacing);
					height: 20%;
					user-select: none;

					h1 {
						font-size: 0.9rem;
						margin: auto;
						// height: 35%;
					}

					& > div {
						margin: auto;
					}
					h2 {
						font-size: 1.5rem;
						margin: auto;
						text-align: center;
						// height: 65%;
					}
				}

				&.section--pie {
					height: 67.5%;
					width: 100%;
					.PieChart {
						svg {
							overflow: visible;
						}
						text {
							// fill: var(--white);
							// stroke: var(--transparent-black);
							stroke-width: 0.0075rem;
							font-size: 0.35rem;
							--font-size: 0.35rem;
							--shadow-color: var(--black);
							--color: var(--white);
							--stroke-color: var(--white);
						}
					}
				}

				&.section--feedback {
					height: 12.5%;
					text-align: center;
					padding: var(--spacing);

					& > div {
						//Pose element
						height: 100%;
						display: flex;
						overflow: auto;
					}

					pre.feedback {
						// padding: var(--spacing);
						transition: all 0.2s;
						padding: calc(1 * var(--spacing));
						border-radius: 0.1rem;
						margin: auto;
						z-index: 1;
						font-family: inherit;
						color: var(--black);
						user-select: none;
						height: auto;

						&.isIdle {
							// opacity: 0;
						}
						&.isConnecting,
						&.isEnteringRoom {
							color: var(--black);
							background-color: var(--white);
						}
						&.isConnected,
						&.isAlreadyConnected {
							color: var(--black);
							background-color: var(--green);
						}
						&.isDisconnected {
							color: var(--black);
							background-color: var(--red-1);
						}
						&.connectionFailed {
							color: var(--yellow);
							color: var(--black);
							background-color: var(--yellow);
						}
					}
				}
			}

			&.inactive {
				svg {
					user-select: none;
					pointer-events: none;
					// opacity: 0.5;
					path {
						// opacity: 0.8;
					}
				}
			}

			&.isConnected,
			&.isAlreadyConnected {
				.PieChart.inactive.animate-segment--1 {
					svg {
						path:not(*:nth-child(2)) {
							*,
							text,
							title,
							path {
								opacity: 0;
							}
							opacity: 0;
						}

						path:nth-child(2) {
							opacity: 1;

							// animation-delay: 0s;
							// animation-fill-mode: forwards;
							// animation-timing-function: linear;
						}
					}
				}
			}
		}
		.realtime-classroom {
			background-color: pink;
		}
	}
}

.feedback {
	pre {
		// padding: var(--spacing);
		transition: all 0.2s;
		padding: calc(1 * var(--spacing));
		border-radius: 0.1rem;
		margin: auto;
		z-index: 1;
		font-family: inherit;
		color: var(--black);
		user-select: none;
		height: auto;

		&.isIdle {
			// opacity: 0;
		}
		&.isConnecting,
		&.isEnteringRoom {
			color: var(--black);
			background-color: var(--white);
		}
		&.isConnected,
		&.isAlreadyConnected {
			color: var(--black);
			background-color: var(--green);
		}
		&.isDisconnected {
			color: var(--black);
			background-color: var(--red-1);
		}
		&.connectionFailed {
			color: var(--yellow);
			color: var(--black);
			background-color: var(--yellow);
		}
	}
}

#root {
	.notification__item--success {
		background-color: var(--secondary);
		border-left: 8px solid var(--secondary-darker-1);
	}
	.notification__item--default {
		background-color: var(--secondary);
		border-left: 8px solid var(--secondary-darker-2);
	}
}

.notification {
	.notification__title {
		font-size: 1.5rem;
		font-family: inherit;
	}

	.notification__message {
		font-size: 1.1rem;
	}
}

.feedback--content {
	width: 100%;
	color: var(--white);
	display: grid;
	padding: calc(1 * var(--spacing));

	.headingText {
		grid-area: heading;
		font-size: 1.75rem;
	}
	.bodyText {
		grid-area: body;
		font-size: 1rem;
	}
	.icon {
		grid-area: icon;
	}

	// Creating 6 rows and 3rd row expands as much as it can
	// /	grid-template-rows: 1fr auto;

	// grid-template-areas:
	// 	"icon heading"
	// 	"icon body";

	&.thumb-up {
	}

	grid-template-rows: auto 1fr;

	// Defining the template (4 columns)
	grid-template-areas:
		"icon heading"
		"icon body";
}

// .feedback--content {
// 	width: 100%;
// 	color: var(--white);
// 	padding: calc(1 * var(--spacing));

// 	display: grid;
// 	grid-template-columns: repeat(12, 1fr);
// 	column-gap: var(--spacing);

// 	align-items: center;
// }

.Toastify {
	color: black;
	.toast--default {
		background-color: var(--white);
	}

	.toast--props {
		// background: linear-gradient(75deg, var(--secondary), var(--primary));
		// color: var(--black);
	}
	// .toast--like {
	// 	//background-color: var(--white);
	// 	background: linear-gradient(75deg, var(--secondary), var(--primary));
	// 	background-color: var(--white);
	// }
	.toast--dislike {
		//background-color: var(--red-1);
		background: linear-gradient(75deg, var(--red-1), var(--red-3));
		color: white;
	}
	.toast--warn {
		background: linear-gradient(75deg, var(--yellow), var(--red-1));
		color: white;
	}

	.Toastify__progress-bar {
		background: linear-gradient(
			to right,
			var(--white),
			var(--primary),
			var(--secondary),
			var(--white)
		);
	}

	.Toastify__toast-body {
		font-size: 1.05rem;
		color: darkgray;
		// color: var(--black);
	}
}
