#root .gif-player-wrapper {
	--thumbnail-height: 120px;
	display: flex;
	margin: auto;
	position: relative;
	flex-direction: column;
	--gradient-color-1: var(--primary);
	--gradient-color-2: var(--secondary);
	.react-tenor--wrapper {
		height: 35%;
		padding: calc(2 * var(--spacing)) 0;
	}
	.react-tenor {
		margin: auto;
		width: 100%;
		max-width: unset;
		height: 100%;
		overflow: hidden;

		font-size: 1.5rem;
		font-family: Nunito;
		border-radius: var(--spacing);

		.react-tenor--search-bar {
			min-height: 10%;

			// height: calc(50% - calc(2 * var(--spacing)));
		}

		.react-tenor--search {
			font-family: Nunito;
			font-size: 1.5rem;
			font-family: inherit;
			// height: calc(50% - calc(2 * var(--spacing)));
		}
		.react-tenor--suggestions {
			min-height: 15%;
			font-size: 1.2rem;
			overflow: auto;
		}
		.react-tenor--results {
			overflow: auto;
			// height: calc(50% - calc(2 * var(--spacing)));
			height: 75%;
			.react-tenor--result {
				height: var(--thumbnail-height);
			}
		}
	}
	.gif_player--wrapper {
		height: 65%;

		padding: calc(2 * var(--spacing));
	}
	.gif_player {
		margin: auto;
		overflow: auto;

		width: 100%;
		height: 100%;
		display: flex;
		margin: auto;
		// height: 100%;
		img {
			width: 100%;
			height: auto;
			margin: auto;
			border-radius: var(--spacing);
		}
	}
	&:not(.gif--loaded) {
		.play_button {
			opacity: 0;
		}
	}
}
