@media print {
	html,
	body,
	#root,
	.fullscreen,
	.view {
		background: unset;
	}

	@page {
		size: A4 landscape;
	}

	#root {
		background: unset;
		.appbar-container {
			display: none;
		}
		.fab {
			display: none;
		}
		.phone.portrait .lyrics-page .main-page,
		.phone.tablet .lyrics-page .main-page,
		.tablet.portrait .lyrics-page .main-page,
		.tablet.tablet .lyrics-page .main-page,
		.large-screen.portrait .lyrics-page .main-page,
		.large-screen.tablet .lyrics-page .main-page,
		.xl-screen.portrait .lyrics-page .main-page,
		.xl-screen.tablet .lyrics-page .main-page {
			transform: rotate(90deg);
			background: unset;
			padding: 0;
			width: 100vh;
			min-width: 100vh;
			max-width: 100vh;
			height: 100vw;
			min-height: 100vw;
			max-height: 100vw;
			// margin: 0;
			.song-info-section {
				padding: 0;
				margin: 0;
				height: 12.5%;
				height: 5%;
			}
			.lyrics-section {
				width: 100vh;
				min-width: 100vh;
				max-width: 100vh;
				height: 100vw;
				min-height: 100vw;
				max-height: 100vw;
				overflow: auto;
				// min-height: 87.5%;
				padding-top: var(--spacing);
				margin: 0;
				.lyrics {
					position: relative;
					display: flex;
					flex-flow: column;
					flex-wrap: wrap;
					width: 100%;
					height: 100%;
					min-height: 100%;
					max-height: 100%;
					.stanza {
						display: inline-block;
						position: relative;
						text-align: justify;
						width: 32%;
						min-width: 32%;
						max-width: 32%;
						height: auto;
						padding: 0 var(--spacing) 0 0;
						.line {
							max-width: 100%;
							font-size: 20px;
						}
						pre {
							margin: var(--spacing) 0;
						}
					}
				}
			}
		}
	}
}

// low specificy so that it can be easily (and safely) overridden by the .opaque class which is attached to lyrics via JS
.lyrics {
	// transition: opacity 4s ease-in-out;
	.swiper {
		opacity: 0;
	}
}

//general style rules for all screen sizes

#root .lyrics {
	position: relative;
	z-index: 0;
}
#root .lyrics-page {
	min-height: 100%;
	width: 100%;
	word-wrap: break-word;
	padding: 0;
	position: relative;

	.VideoPlayer {
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
		// opacity: 0;
		transition: all 0.35s;
		// transform: scale(3.5);
		transform-origin: center;
		&.react-player--playing {
			// opacity: 1;
		}
	}
	--search-btn--height: 4rem;

	.header {
		background-color: none;
		margin: 0;
		display: none;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		--gradient-color-1: var(--secondary);
		// --gradient-color-2: var(--dark-pink);
		--gradient-color-2: var(--white);

		z-index: -1;
		&.has-before:before {
			animation-duration: 90s;
			z-index: 1;
		}
		&.has-before.show-before:before {
			opacity: 1;
		}
	}

	.main-page {
		height: 100%;
		width: 100%;
		position: relative;
		padding: 0;
		z-index: 2;

		&.he {
			direction: rtl;
			.song-info-section .artist-name.has-before:before {
				content: "של ";
				color: var(--black, black);
				-webkit-text-stroke: initial;
				text-shadow: none;
			}
		}
		&.en {
			direction: ltr;
		}
	}

	&.modal-is-open {
		.song-info-section {
			opacity: 0;
			// display: none;
			// color: var(--transparent);
		}
		.lyrics-section {
			// display: none;
			height: 100%;

			.lyrics .swiper {
				//makes them appear with enter animation
				.views,
				.mobile-stepper {
					opacity: 0;
				}
			}

			// color: var(--transparent);
		}
	}

	--cloud-height: calc(12.5 * var(--vh, 1vh));
	--line-font-size: calc(2.5 * var(--vw, 1vw));

	&:not(*.video-player--playing) {
		.lyrics-section {
			--gradient-color-1: var(--primary);
			--gradient-color-2: var(--white);

			--color: var(--black);
			// --shadow-color: var(--black);
			--color--focus: var(--white);
			--stroke-color: var(--black);
			--stroke-color--focus: var(--primary);
			--shadow-color--focus: var(--primary);

			.lyrics {
				&:before {
					//white background
					background-color: var(--white);
					content: "";
					position: absolute;
					// height: calc(100% - var(--cloud-height));
					height: calc(100%);
					width: 100%;
					top: calc(0.5 * var(--cloud-height));
					top: 0;
				}
			}
		}
	}

	&.video-player--playing {
		.swiper .mobile-stepper {
			background-color: var(--transparent-white);
		}
		.lyrics-section .lyrics {
			.stanza {
				padding: calc(2 * var(--spacing)) var(--spacing);
				// pre.line:first-of-type {
				// 	margin-top: 1.5rem;
				// }
			}
			.line {
				opacity: 1;
				// opacity: 1;
				--font-size: var(--line-font-size);
				font-size: var(--font-size);
				--color: var(--white);
				--color--focus: black;
				// --color--focus: var(--black);
				--stroke-color: var(--black);
				// --stroke-color--focus: var(--secondary);
				// --shadow-color: var(--black);
				// --stroke-color: var(--white);
				// background-color: var(--transparent-white);

				// --stroke-color: var(--primary);
				--shadow-color--focus: var(--primary);
				// --shadow-color--focus: var(--black);
				// --color: var(--white);

				&.highlight--white {
					&:hover {
						color: white;
						outline: calc(0.4 * var(--spacing)) solid
							var(--transparent-primary);
						background: rgba(255, 255, 255, 0.7);
						text-shadow: -2px 2px 3px var(--black);
						font-weight: bold;

						// --color: var(--black);
					}
					&:focus {
						// color: black;
						outline: none;
						background: rgba(255, 255, 255, 0.9);
						// text-shadow: 0px 0px 1px var(--black);
						font-weight: bold;
					}
				}

				&.highlight--black {
					&:hover {
						outline: calc(0.4 * var(--spacing)) solid
							var(--transparent-primary);
						background: rgba(0, 0, 0, 0.7);

						// --color: var(--black);
					}
					&:focus {
						color: var(--white);
						outline: none;
						opacity: 1;
						background: rgba(0, 0, 0, 0.9);
						text-shadow: 2px 2px 3px var(--primary);
					}
				}
			}
		}
	}

	.lyrics-section {
		&.cloudy-top:after {
			// --cloud-height: calc(6 * var(--vw, 1vw));
			background-image: radial-gradient(
				circle,
				var(--white) 49%,
				var(--canvas) 52%,
				var(--transparent) 53%
			);
			background-size: 6.33% 250%;
			animation-duration: 2400s;
			animation-timing-function: ease;
		}

		.stanza .line {
			font-size: var(--line-font-size);
			--font-size: var(--line-font-size);
			margin: calc(0.75 * var(--line-font-size)) 0;
		}

		.swiper .views {
			// padding-bottom: calc(0.5 * var(--cloud-height));

			// margin-top: calc(-3 * var(--spacing));
			margin-top: calc(-0.2 * var(--cloud-height));
			padding-bottom: 0;
			height: calc(100% - (0.2 * var(--cloud-height)));

			.react-swipeable-view-container > div {
				padding: 0 calc(2 * var(--spacing));
			}
		}

		// .views {
		// 	padding: calc(0.5 * var(--line-font-size)) 0;
		// }
	}

	.song-info-section {
		height: auto;
		position: absolute;
		z-index: 8;
		overflow: visible;
		margin: 0;
		padding-left: calc(var(--spacing) * 6);
		padding-top: calc(var(--spacing) * 4);
		font-size: calc(0.035 * var(--swipable-views--width, 1vw));
		--font-size: calc(0.035 * var(--swipable-views--width, 1vw));
		text-align: left;
		color: var(--white, white);

		display: flex;
		flex-flow: column;
		justify-content: space-evenly;

		.song-title {
			font-size: calc(1 * var(--line-font-size));
			--font-size: calc(1 * var(--line-font-size));
			user-select: none;

			text-shadow: 2px 3px 0 var(--black), -0.25px -0.5px 0 var(--black),
				0.5px -0.5px 0 var(--black), -0.5px 0.25px 0 var(--black),
				1px 1px 0 var(--black);
			outline: none;
			padding: 0;
			font-weight: 600;
			transition: all 0.25s ease-in-out;
		}
		.artist-name {
			font-size: calc(0.65 * var(--line-font-size));
			--font-size: calc(0.65 * var(--line-font-size));
			user-select: none;
			margin: 0;
			padding: 0;
			text-shadow: 2px 1px 0 var(--black), -0.25px -0.5px 0 var(--black),
				0.5px -0.5px 0 var(--black), -0.5px 0.25px 0 var(--black),
				1px 1px 0 var(--black);
			// stroke-color: var(--black);
			// color: var(--white);
			background-color: var(--transparent);
			transition: all 0.25s ease-in-out;

			&:focus {
				text-shadow: calc(0.1 * var(--font-size))
						calc(0.075 * var(--font-size)) 0 var(--secondary),
					calc(0.075 * var(--font-size))
						calc(0.025 * var(--font-size)) 0 var(--secondary),
					calc(0.05 * var(--font-size)) calc(0.05 * var(--font-size))
						0 var(--secondary),
					calc(0.05 * var(--font-size)) calc(0.025 * var(--font-size))
						0 var(--secondary),
					calc(0.05 * var(--font-size)) calc(0.05 * var(--font-size))
						0 var(--secondary);
				-webkit-text-stroke: calc(0.075 * var(--font-size)) var(--black);

				outline: none;
				border-radius: calc(0.5 * var(--spacing));
			}

			&.has-before:before {
				content: "by ";
				color: var(--black, black);
				-webkit-text-stroke: initial;
				text-shadow: none;
			}
		}

		&.has-before:before {
			height: 100%;
		}
	}

	.fab {
		top: calc(3 * var(--spacing));
		right: calc(3 * var(--spacing));
	}
	.fab-bg {
		position: absolute;
		z-index: 8;
		top: calc(8 * var(--spacing));
		right: calc(2 * var(--spacing));
	}

	.mobile-stepper {
		background-color: var(--white);
	}

	.stanza-wrapper {
		margin: auto;
	}

	.stanza {
		overflow-x: visible;
	}

	.lyrics-section {
		height: 100%;

		--gradient-color-1: var(--secondary);
		--gradient-color-2: var(--white);

		&.before--sun---up:before {
			background-size: 250% 100%;
			animation-duration: 12s;
			height: var(--cloud-height);
		}

		&.cloudy-top {
			padding-top: calc(1 * var(--cloud-height));
		}

		position: relative;
		padding: 0;
		margin: 0;
		// height: 70%;
		overflow-y: auto;
		overflow-x: hidden;
		// font-size: 125%;
		z-index: 6;

		.views {
			padding-top: calc(0.5 * var(--line-font-size));
			padding-bottom: calc(0.5 * var(--line-font-size));
		}

		.stanza {
			margin: auto;
			padding: 0 var(--spacing);
			// pre.line:first-of-type {
			// 	margin-top: 1.5rem;
			// }
		}

		.line {
			font-size: calc(0.035 * var(--swipable-views--width, 1vw));
			--font-size: calc(0.035 * var(--swipable-views--width, 1vw));
			user-select: all;
			position: relative;
			font-family: Nunito;
			cursor: pointer;
			opacity: 0.25;

			border-radius: calc(0.5 * var(--spacing));
			transition: all 0.2s;

			&::selection {
				// color: var(--black, black);
				background-color: unset;
			}

			&:not(*:hover) {
				outline: none;
			}
			&:hover {
				opacity: 0.85;
				outline: calc(0.4 * var(--spacing)) solid
					var(--transparent-primary);
				outline-offset: var(--spacing);
			}
			&:focus {
				opacity: 1;
				background-color: unset;
			}
		}
		.wrap-entire-lines pre,
		pre span {
			white-space: pre-wrap; /* Since CSS 2.1 */
			white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			word-wrap: break-word; /* Internet Explorer 5.5+ */
		}
	}

	.highlight-on-active {
		&:active {
			// background-color: var(--transparent-white, purple);
			zoom: 1.25;
			// transform: scale3d(1.2, 1.2, 1.2);
		}
		&::selection {
			color: var(--primary, purple);
			text-shadow: 0.5px 0.5px 0 var(--white, white),
				-0.25px -0.25px 0 var(--white, white),
				0.25px -0.25px 0 var(--white, white),
				-0.125px 0.125px 0 var(--white, white),
				0.5px 0.5px 0 var(--white, white);
			background-color: unset;
		}
		transition: all 0.4s;
	}

	.fab {
		z-index: 9;
		// transition-delay: 4000s;
		position: absolute;
		top: calc(var(--spacing) * 2);
		right: calc(var(--spacing) * 2);
		&.fab-close {
			// bottom: unset;
			// top: calc(2 * var(--spacing));
			// right: calc(2 * var(--spacing));
			background-color: var(--hair-darker-1, gray);
			color: black;
			&:hover {
				background-color: var(--hair-darker-2, darkgray);
			}
			.close-icon {
				width: 60%;
			}
		}
	}

	.modal {
		z-index: 3;
		position: absolute;
		background: rgba(255, 255, 255, 0.5);
		opacity: 0;
		top: 0;
		left: 0;
		transition: opacity 3s ease-in-out;
		// overflow-y: auto;

		.modal--inner {
			position: relative;
			display: flex;
		}

		&.modal-is-open {
			opacity: 1;
		}

		&.modal-hidden {
			opacity: 0 !important;
		}

		.search-section {
			// min-height: 20rem;
			display: flex;
			// padding: calc(1 * var(--spacing, 8px));
			// padding-top: calc(1 * var(--search-btn--height));

			.form-container {
				position: relative;
				height: 75%;
				width: 100%;
				max-width: 30rem;
				max-height: 30rem;
				// max-width: calc(100 * var(--vw-max--portrait));
				padding: calc(4 * var(--spacing));
			}

			.search-form {
				opacity: 1;
				height: 100%;
				height: calc(100% - var(--search-btn--height));
				position: relative;
				justify-content: center;
				align-content: flex-start;
				flex-flow: row;
				flex-wrap: wrap;
				.artist-input {
					margin-top: 0;
				}
			}

			.search-btn {
				position: relative;
				// margin: auto;
				width: 100%;
				min-height: var(--search-btn--height);
				bottom: 0;
				padding: calc(2 * var(--spacing, 8px));
				align-self: flex-end;

				span:first-child {
					position: relative;
					.spinner-container {
						display: none;
						position: absolute;
						left: var(--spacing, black);
						top: 0;
						.spinner {
							color: white;
							width: 32px;
							height: 32px;
						}

						&.show-spinner {
							display: block;
							.spinner {
								display: block;
							}
						}
					}
				}

				.cancel-container {
					opacity: 0;
					transition: opacity 0.4s;
					position: absolute;
					right: 0;
					top: calc(-1 * var(--spacing, 8px));
					&.show-cancel {
						display: block;
						opacity: 1;
					}

					.close-icon {
						color: var(--black, black);
						font-size: 100%;
						// margin: -4px -4px 0 0;
					}
				}

				&.is-searching {
					.cancel-container .close-icon {
						z-index: 10000;
						pointer-events: auto;
					}
				}
			}

			.error-msg {
				// position: absolute;
				margin: auto;
				font-size: 100%;
				width: 100%;
				height: auto;
				padding: calc(2 * var(--spacing));
				text-align: center;
				color: var(--black);
				opacity: 0;
				// max-width: calc(85 * var(--vw));
				max-width: 90%; //just like the parent form-section
			}
		}
	}

	.slider-view {
		.swiper {
			height: 100%;
			z-index: 10;
			.mobile-stepper {
				margin: auto;
				padding: var(--spacing);
			}
			.views {
				height: 100%;
				.react-swipeable-view-container {
					height: 100%;
					& > div {
						display: flex;
						// height: 100%;
					}
					// padding-right: calc(2 * var(--spacing));
					// padding-left: calc(2 * var(--spacing));
					// padding-bottom: calc(2 * var(--spacing));
					// padding-top: var(--cloud-height);
					padding: 0;
				}
			}
		}
	}
	.aws-btn {
		width: 100%;
	}
}
#root .phone.portrait:not(*.mobile) .lyrics-page {
	// --cloud-height: calc(12.5 * var(--vh, 1vh));
	--line-font-size: calc(4.5 * var(--vw, 1vw));
	// --song-info--height: calc(var(--line-font-size) * 2 + 3 * var(--spacing));
	.lyrics-section {
		&.cloudy-top:after {
			background-size: 12.33% 200%;
			animation-duration: 600s;
		}
	}

	.song-info-section {
		padding: calc(var(--spacing) * 3);
		padding-left: calc(var(--spacing) * 5);
	}

	.fab {
		top: calc(2 * var(--spacing));
		right: calc(2 * var(--spacing));
	}
}

#root .phone.mobile .lyrics-page {
	overflow: visible;
	height: calc(100 * var(--vh-max--portrait) - var(--appbar-height));
	--cloud-height: calc(20 * var(--vh-max--portrait, 1vh));
	--line-font-size: 1rem;
	// --song-info--height: calc(var(--line-font-size) * 2 + 3 * var(--spacing));
	.search-section {
		// padding: calc(1 * var(--search-btn--height)) var(--spacing);
		margin: auto;
		// height: 85%;
	}

	&:not(*.show-video) {
		.lyrics-section .lyrics {
			&:before {
				width: calc(100 * var(--vw-max--landscape));
				background-size: 250% 100%;
				// animation-duration: 15s;
				height: var(--cloud-height);
			}
		}
	}
	.lyrics-section {
		// height: 87.5%;
		// height: calc(100% - var(--line-font-size) * 2 - 3 * var(--spacing));

		&.cloudy-top:after {
			width: calc(100 * var(--vw-max--landscape));
			background-image: radial-gradient(
				circle,
				var(--white) 54%,
				var(--canvas) 56%,
				var(--transparent) 61%
			);

			// height: var(--cloud-height);
			background-size: 12.33% 200%;
			animation-duration: 2000s;
		}

		&.cloudy-top {
			padding-top: calc(0.75 * var(--cloud-height));
		}

		.swiper .views {
			padding-top: calc(2 * var(--line-font-size));

			// margin-top: calc(-3 * var(--cloud-height));
			.react-swipeable-view-container > div {
				// padding-left: var(--spacing);
				// padding-right: var(--spacing);
			}
		}
	}

	.song-info-section {
		padding: calc(var(--spacing) * 2);
		padding-left: calc(var(--spacing) * 2);
		.song-title {
			font-size: calc(1.7 * var(--line-font-size));
			--font-size: calc(1.7 * var(--line-font-size));
		}
		.artist-name {
			font-size: calc(1.15 * var(--line-font-size));
			--font-size: calc(1.15 * var(--line-font-size));
		}
	}

	.fab {
		top: calc(2 * var(--spacing));
		right: calc(2 * var(--spacing));
	}
}

#root .phone.landscape.mobile .lyrics-page {
	.modal {
		overflow: auto;
	}
	// overflow: auto;
}

#root .phone.landscape:not(*.mobile) .lyrics-page {
	--line-font-size: calc(3.25 * var(--vw, 1vw));
	--cloud-height: calc(16 * var(--vh, 1vh));

	.lyrics-section {
		// height: calc(100% - var(--line-font-size) * 2 - 3 * var(--spacing));
		&.cloudy-top:after {
			// --cloud-height: calc(6.5 * var(--vw, 1vw));
			// background-image: radial-gradient(
			// 	circle,
			// 	var(--white) 54%,
			// 	var(--canvas) 56%,
			// 	var(--transparent) 60%
			// );
			background-size: 12.33% 250%;
			// background-size: calc(20.5 * var(--vh, 1vh));

			animation-duration: 1200s;
		}
		.views {
			margin-top: calc(-0.1 * var(--cloud-height));
		}
	}

	.song-info-section {
		padding-top: calc(2 * var(--spacing));
		padding-left: calc(4 * var(--spacing));
	}
}

#root .tablet.portrait:not(*.mobile) .lyrics-page {
	--line-font-size: calc(3.9 * var(--vw, 1vw));
	--cloud-height: calc(18 * var(--vh, 1vh));
	.lyrics-section {
		&.cloudy-top:after {
			// --cloud-height: calc(7.75 * var(--vw, 1vw));
			background-image: radial-gradient(
				circle,
				var(--white) 53%,
				var(--canvas) 56%,
				var(--transparent) 57%
			);
			// background-size: 9.33% 200%;
			background-size: 15.33% 220%;

			animation-duration: 500s;
		}

		.views {
			margin-top: calc(-0.15 * var(--cloud-height));
		}
	}

	.song-info-section {
		padding-left: calc(var(--spacing) * 5);
		padding-top: calc(var(--spacing) * 2);
	}
}

#root .tablet.portrait.mobile .lyrics-page {
	--cloud-height: calc(22 * var(--vh, 1vh));
	--line-font-size: calc(4.5 * var(--vw, 1vw));
	.lyrics-section {
		&.cloudy-top:after {
			// --cloud-height: calc(7.75 * var(--vw, 1vw));
			// background-image: radial-gradient(
			// 	circle,
			// 	var(--white) 54%,
			// 	var(--canvas) 56%,
			// 	var(--transparent) 60%
			// );
			background-size: 15.33% 220%;
			animation-duration: 600s;
		}
	}
}

#root .tablet.landscape:not(*.mobile) .lyrics-page {
	--cloud-height: calc(13.5 * var(--vw, 1vw));
	--line-font-size: calc(3 * var(--vw, 1vw));
	.lyrics-section {
		.stanza .line {
			margin: calc(0.75 * var(--line-font-size)) 0;
		}

		&.cloudy-top:after {
			// --cloud-height: calc(7.75 * var(--vw, 1vw));
			// background-image: radial-gradient(
			// 	circle,
			// 	var(--white) 54%,
			// 	var(--canvas) 56%,
			// 	var(--transparent) 60%
			// );
			background-size: 9.33% 200%;
			animation-duration: 1500s;
		}

		.views {
			margin-top: calc(-0.2 * var(--cloud-height));
		}
	}

	.song-info-section {
		padding-left: calc(var(--spacing) * 5);
		padding-top: calc(var(--spacing) * 2);
	}
}

#root .tablet.landscape.mobile .lyrics-page {
	overflow: auto;
	--cloud-height: calc(16 * var(--vw, 1vw));
	--line-font-size: calc(3.25 * var(--vw, 1vw));
	.lyrics-section {
		.stanza .line {
			margin: calc(0.75 * var(--line-font-size)) 0;
		}

		&.cloudy-top:after {
			// background-image: radial-gradient(
			// 	circle,
			// 	var(--white) 54%,
			// 	var(--canvas) 56%,
			// 	var(--transparent) 60%
			// );

			background-size: 9.33% 200%;
			animation-duration: 1200s;
		}
	}

	.song-info-section {
		padding-left: calc(var(--spacing) * 5);
	}
}

#root .large-screen.portrait .lyrics-page {
	// --cloud-height: 4rem;
	.song-info-section {
		height: 12.5%;
		padding-left: calc(var(--spacing) * 6);

		.song-title {
			&:active {
				padding-left: 0;
			}
			font-size: calc(4.25 * var(--vw, 1vw));
			--font-size: calc(4.25 * var(--vw, 1vw));
		}
		.artist-name {
			font-size: calc(2.25 * var(--vw, 1vw));
			--font-size: calc(2.25 * var(--vw, 1vw));
		}
	}
	.lyrics-section {
		// height: 87.5%;
		min-height: 75%;
		max-height: 100%;
		.stanza {
			padding-left: var(--spacing);
		}

		&.cloudy-top:after {
			background-image: radial-gradient(
				circle,
				var(--white) 52%,
				var(--canvas) 54%,
				var(--transparent) 58%
			);

			height: var(--cloud-height);
			background-size: 6.33% 225%;
			animation-duration: 1200s;
		}
	}
	.modal {
		.search-section {
			// height: 50%;
			form.search-form {
				.error-msg {
					bottom: calc(-6 * var(--spacing));
				}
			}
		}
	}
}

#root .xl-screen.portrait .lyrics-page {
	.song-info-section {
		height: 25%;
	}
	.lyrics-section {
		min-height: 75%;
		max-height: 100%;
		// overflow: auto;
		// font-size: 125%;
		.stanza {
			padding-left: var(--spacing);
		}
	}
	.modal {
		.search-section {
			form.search-form {
				.error-msg {
					bottom: calc(-6 * var(--spacing));
				}
			}
		}
	}
}

#root .large-screen.landscape .lyrics-page {
	--cloud-height: calc(14 * var(--vh, 1vh));
	--line-font-size: calc(2 * var(--vw, 1vw));

	.lyrics-section {
		&.cloudy-top:after {
			// --cloud-height: calc(6 * var(--vw, 1vw));
			// background-image: radial-gradient(
			// 	circle,
			// 	var(--white) 49%,
			// 	var(--canvas) 50%,
			// 	var(--transparent) 52.5%
			// );
			background-size: 6.33% 300%;
			animation-duration: 2400s;
		}
		.views {
			padding-top: calc(4 * var(--spacing));
		}
	}

	.song-info-section {
		height: calc(var(--line-font-size) * 2 + 4 * var(--spacing));
		padding-left: calc(var(--spacing) * 6);
		padding-top: calc(var(--spacing) * 2);
		.song-title {
			font-size: calc(1.1 * var(--line-font-size));
			--font-size: calc(1.1 * var(--line-font-size));
		}
		.artist-name {
			font-size: calc(0.75 * var(--line-font-size));
			--font-size: calc(0.75 * var(--line-font-size));
		}
	}
}

#root .xl-screen.landscape .lyrics-page {
	// --cloud-height: calc(6 * var(--vw, 1vw));
	--line-font-size: calc(2 * var(--vw, 1vw));
}
