#root .PresentSimpleVerbFormsTable {
	background: var(--white);
	font-size: 1rem;
	direction: flex;
	padding: calc(2 * var(--spacing));
	overflow: auto;

	--marquee-height: calc(8 * var(--spacing));
	&:not(*.showMarquee) {
		--marquee-height: 0px;

		.basic-table-container {
			padding: calc(var(--spacing) * 2);
		}
	}
	--footer-height: 4rem;
	--max-swiper-width: 1000px;

	.basic-table-container {
		position: relative;
		overflow: auto;
		overflow-x: hidden;
		// min-height: 20%;
		height: 100%;
		display: flex;

		// min-height: 50%;
	}

	.table {
		max-width: var(--max-swiper-width);
		position: relative;
		height: 100%;
		margin: auto;

		tbody {
			height: auto;
		}

		&:not(*.hide-header) {
			thead * {
				line-height: 2;
				height: 1.1rem;
			}
		}
		&.hide-header {
			thead {
				display: none;
			}
		}
	}

	.basic-table-container,
	.table-head {
		.table-header {
			user-select: none;
			text-align: center;
			--shadow-color: gray;
			--color: white;
			--font-size: 1.25rem;
			font-size: 1.25rem;
			transition: transform 0.2s;

			height: var(--marquee-height);

			height: 100%;
			// color: var(--transparent);
			// &.v1,
			// &.v2,
			// &.v3 {
			// 	width: 33%;
			// }
			&:hover {
				transform: scale(1.1);
				// opacity: 0.75;
				// z-index: 10;
				// outline: none;
			}

			.header-row {
				display: flex;
				height: var(--marquee-height);
				padding: calc(1 * var(--spacing)) 0;
				.table-header {
					width: 32%;
					// height: auto;
					height: 100%;
					margin: auto;
					padding: 0 calc(1 * var(--spacing));
					font-size: 0.75rem;
					display: flex;
					.header-cell {
						height: auto;
						margin: auto;
					}
				}
			}
		}

		.table-cell {
			font-size: 1.5rem;
			overflow: hidden;
			opacity: 0.4;
			.in-cell {
				overflow: hidden;
				text-align: center;
				transform: rotateY(-90deg) rotateX(-90deg) translateX(50%);
				transition: transform 0.35s;
			}
			&:hover {
				// transform: scale(1);
				opacity: 0.75;
				z-index: 10;
				outline: none;
			}

			&.show {
				opacity: 1;
				.in-cell {
					transform: rotateY(0deg);
				}
				&:hover {
					transform: scale(1.1);
					z-index: 10;
					outline: none;
				}
			}
		}

		.table-header {
			&:hover {
				opacity: 0.75;
				z-index: 10;
				outline: none;
				overflow: visible;
			}
		}

		.table-header,
		.table-cell {
			transition: all 0.35s;
			&:focus {
				// transform: scale(1.15);
				// transform: rotateX(0deg);
				// color: var(--white);
				outline: none;
			}
		}
	}

	div[data-swipeable] {
		padding: 0;
	}

	.table--paper {
		height: calc(100% - 2 * var(--spacing));

		margin: var(--spacing);
		background-color: unset;
	}

	.swiper {
		height: 100%;
		min-height: unset;
		max-width: 800px;

		.table-marquee {
			height: var(--marquee-height);
			// background-color: yellow;
			position: fixed;
			//top: calc(var(--appbar-height));
			top: 0;
			margin: 0;
			width: 100%;
		}

		.table-header-section {
			padding: 0 var(--spacing);

			// height: 5rem;
			height: var(--marquee-height);
			// position: fixed;
			position: absolute;
			left: 0;
			right: unset;
			margin: 0;
			top: calc(2 * var(--spacing) + var(--marquee-height));
			bottom: unset;
			width: 100%;
			background-color: var(--white);
			z-index: 100;

			height: 100%;
			top: 0;
			display: flex;
			position: relative;
			padding: 0 calc(0.5 * var(--spacing));
			.table {
				margin: auto;
				width: 100%;
				height: 100%;
				overflow: hidden;
				position: relative;
				// border-spacing: 0.5rem;
				display: flex;
				top: 0;
				bottom: unset;
				left: unset;
				right: 0;
				transform: none;
				font-size: 1.5rem;
				--font-size: 1.5rem;
				padding: 0 calc(1.25 * var(--spacing));

				thead {
					width: 100%;
					// height: auto;
				}
				.header-row {
					display: flex;
					height: 100%;
					padding: calc(1 * var(--spacing)) 0;
					.table-header {
						width: 32%;
						// height: auto;
						height: 100%;
						margin: auto;
						padding: 0 calc(1 * var(--spacing));
						font-size: 1rem;
						display: flex;
						.header-cell {
							height: auto;
							margin: auto;
						}
					}
				}
			}
		}

		&.axis-y {
			.views {
				// height: calc(100% - var(--marquee-height));
				height: calc(100%);
				// top: var(--marquee-height);
				// position: relative;
				.react-swipeable-view-container > div {
					height: 100%;
					overflow-x: hidden;
				}
			}
		}

		.react-swipeable-view-container {
			height: 100%;
			.ribbon.ribbon-top-left {
				z-index: 1;
				span {
					text-transform: none;
				}
			}
		}

		.basic-table-container {
			height: calc(100% - 1 * var(--marquee-height));
			// top: var(--marquee-height);
			.in-cell {
				font-size: 1.5rem;
			}
			&.num-rows-1,
			&.num-rows-2,
			&.num-rows-3 {
				.in-cell {
					font-size: 1.85rem;
				}
			}
			&.num-rows-4,
			&.num-rows-5,
			&.num-rows-6,
			&.num-rows-7 {
				.in-cell {
					font-size: 1.75rem;
				}
			}
			&.num-rows-8,
			&.num-rows-9,
			&.num-rows-10,
			&.num-rows-11,
			&.num-rows-12,
			&.num-rows-13 {
				.in-cell {
					font-size: 1.5rem;
				}
			}

			.table {
				height: 100%;
				padding: 0;
			}
		}

		.table-marquee {
			height: var(--marquee-height);
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: flex-end;
			* {
				margin-block-end: 0;
				margin-block-start: 0;
				line-height: 1;
			}

			display: flex;
			justify-content: center;

			.table-marquee--title {
				width: auto;
				// padding: 1rem;
				// --box-shadow-color: var(--yellow);
				// --box-shadow-v-offset: -6rem;
				// --hover-shadow-x-offset: -2rem;
				//--box-shadow-y-offset: 12rem;
				margin: 0 auto;
				font-size: calc(0.2 * var(--marquee-height));
				--font-size: calc(0.2 * var(--marquee-height));
				--shadow-color: var(--white);
				--color: var(--black);
				min-width: 25%;
				max-width: 75%;
				line-height: 1;
				transition: all 0.2s ease-in-out;
				letter-spacing: 0.15rem;
				text-align: center;
				display: block;
				color: var(--canvas);
				&:hover {
					// padding: calc(0.5 * var(--spacing));
					background-color: var(--transparent-canvas);
				}
			}
			.table-marquee--formula {
				padding-top: calc(0.15 * var(--marquee-height));
				font-size: calc(0.35 * var(--marquee-height));
				--font-size: calc(0.35 * var(--marquee-height));
				width: auto;
				max-width: 75%;
				letter-spacing: 0.1rem;
				margin: 0 auto;
				line-height: 1;
				height: auto;
				min-height: unset;
				text-align: center;
				--shadow-color: var(--canvas);
				--color: var(--black);

				display: block;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				border: 1rem;

				&:hover {
					padding: calc(0.5 * var(--spacing));
					background-color: var(--transparent-canvas);
				}
			}

			.sub-header {
				// display: flex;
				margin: auto;
				position: absolute;
				font-weight: 700;

				--gradient-color-1: var(--canvas);
				--gradient-color-2: var(--white);
				--gradient-color-3: var(--white);
				--gradient-color-4: var(--canvas);

				top: calc(2 * var(--spacing));
				left: calc(2 * var(--spacing));
				padding: calc(2 * var(--spacing));
				line-height: 1;
				transform: rotate(-5deg);
				font-size: 1rem;
				border-radius: 50%;
				background-color: var(--canvas);

				.table-marquee-subgroup {
					font-size: 0.8rem;
				}
			}
			.table-marquee-subgroup {
				transition: all 0.2s;
				margin: auto;
				width: auto;
				max-width: 100%;
				font-size: 0.7rem;

				line-height: 1;
				letter-spacing: 0.05rem;
				text-align: center;
				--shadow-color: gray;
				--color: white;
				--font-size: 3rem;
			}
			.table-marquee-formula {
				margin: auto;
				font-size: 1rem;
				// height: 1.75rem;
				--font-size: 2rem;

				line-height: 1;
				text-align: center;
				--shadow-color: black;
				--color: var(--canvas);
			}
		}
	}
	.mobile-stepper {
		margin: 0;
		max-width: var(--max-swiper-width);
		width: calc(100% - 2 * var(--spacing));
		padding: calc(1 * var(--spacing)) calc(3 * var(--spacing));
	}
}

#root .phone.portrait,
#root .phone.landscape {
	.PresentSimpleVerbFormsTable {
		padding: 0;
		.swiper {
			.react-swipeable-view-container {
				.basic-table-container {
					.table {
						// padding: calc(2 * var(--spacing)) var(--spacing);
						// .row {
						// 	.table-header {
						// 		--font-size: 1rem;

						// 		font-size: 0.8rem;
						// 	}
						// 	.table-cell {
						// 		.in-cell {
						// 			font-size: 0.8rem;
						// 		}
						// 	}
						// }
					}
				}
			}
		}
		.table-marquee--formula {
			padding-top: calc(0.15 * var(--marquee-height));
			font-size: calc(0.3 * var(--marquee-height));
			--font-size: calc(0.3 * var(--marquee-height));
		}
	}
}

#root .phone.portrait,
#root .mobile.phone.landscape .portrait-only--phone {
	.PresentSimpleVerbFormsTable,
	&.PresentSimpleVerbFormsTable {
		.table-marquee {
			.table-marquee--title {
				--shadow-color: var(--white);
				--color: var(--canvas);
			}
		}
		.table-cell {
			.in-cell {
				font-size: 1rem;
			}
		}

		.mobile-stepper {
			margin: 0;
		}
	}
}

#root .phone.landscape,
#root .PresentSimpleVerbFormsTable:not(*.portrait-only--phone) {
	// height: calc(100 * vh - var(--appbar-height));
	.table {
		height: auto;
		// margin: 0;
	}
	.table-cell {
		.in-cell {
			font-size: 1.75rem;
		}
	}

	.swiper {
		&.axis-y {
			.views {
				.react-swipeable-views-container {
					> div {
						height: auto;
					}
				}
			}
		}
	}

	.basic-table-container.header-only-table .table {
		.header-row {
			padding: 0;
		}

		.header-cell {
			font-size: 1.25rem;
		}
	}

	.mobile-stepper {
		margin: 0;
	}
}

#root
	.mobile.phone.landscape
	.PresentSimpleVerbFormsTable:not(*.portrait-only-phone) {
	.react-swipeable-view-container {
		height: 100%;
	}
	.table-container {
		height: auto;
	}
	.basic-table-container {
		display: flex;
	}
	.table {
		height: 100%;
		margin: auto;
	}
	.table-cell {
		.in-cell {
			font-size: 1.5rem;
		}
	}

	.swiper {
		&.axis-y {
			.views {
				.react-swipeable-views-container {
					height: auto;
					> div {
						height: auto;
					}
				}
			}
		}
	}

	.basic-table-container.header-only-table .table {
		.header-row {
			padding: 0;
		}
		.header-cell {
			font-size: 1.25rem;
		}
	}

	.mobile-stepper {
		margin: auto;
		//width: 100%;
		//padding: calc(2 * var(--spacing)) calc(3 * var(--spacing));
	}
}

#root .tablet.portrait .PresentSimpleVerbFormsTable {
	padding: 0;

	.basic-table-container:not(*.header-only-table) .table {
		// padding: calc(2 * var(--spacing)) var(--spacing);
		.table-header {
			--font-size: 1.75rem;
			font-size: 1.75rem;
		}
		.table-cell {
			font-size: 1.15rem;
		}
	}

	.mobile-stepper {
		// width: 100%;
		// padding: calc(2 * var(--spacing)) calc(3 * var(--spacing));
	}
}

#root .tablet.landscape .PresentSimpleVerbFormsTable:not(*.portrait-only-phone),
#root .large-screen.landscape .PresentSimpleVerbFormsTable,
#root .xl-screen.landscape .PresentSimpleVerbFormsTable {
	padding: var(--spacing);

	height: 100%;
	.react-swipeable-view-container {
		height: 100%;
	}
	.table-container {
		height: 100%;
	}
	.basic-table-container {
		display: flex;
	}
	.table {
		height: 100%;
		margin: auto;
	}
	.table-cell {
		.in-cell {
			font-size: 1.5rem;
		}
	}

	.swiper {
		&.axis-y {
			.views {
				.react-swipeable-views-container {
					height: auto;
					> div {
						height: auto;
					}
				}
			}
		}
	}

	.basic-table-container.header-only-table .table {
		.header-row {
			padding: 0;
		}
		.header-cell {
			font-size: 1.25rem;
		}
	}

	.mobile-stepper {
		margin: auto;
		// width: 82.5%;
		// width: 100%;
		// padding: calc(2 * var(--spacing)) calc(3 * var(--spacing));
	}

	.table-header {
		font-size: 1.75rem;
		--font-size: 1.75rem;
	}
}

#root .speed-dial {
	position: absolute;
	margin: auto;
	top: calc(var(--spacing) * 1);
	right: calc(var(--spacing) * 2);

	//center horizontally
	// transform: translateX(-50%);
	// left: 50%;
}

#root .PresentSimpleVerbFormsTable {
	.swiper {
		&.size-large {
			.mobile-stepper {
				padding: calc(1 * var(--spacing));
			}
		}
		&.size-medium {
			.mobile-stepper {
				padding: calc(1 * var(--spacing)) calc(2.75 * var(--spacing));
			}
		}
		&.size-small {
			.mobile-stepper {
				padding: calc(1 * var(--spacing)) calc(2 * var(--spacing));
				.next-btns-group,
				.back-btns-group {
					margin: 0;
				}
			}
		}
	}
}

#root .PresentSimpleVerbFormsTable {
	.gradient-v1,
	.table-header.v1 {
		// background: linear-gradient(
		// 	135deg,
		// 	var(--transparent-canvas) 0%,
		// 	var(--green) 100%
		// );

		// background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);

		background: linear-gradient(135deg, #c3cfe2 0%, var(--canvas) 100%);
	}
	.gradient-v2,
	.table-header.v2,
	.vSnob {
		background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
	}
	.gradient-v3,
	.table-header.v3 {
		background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
	}
}
