#root .sentence-types {
	padding: 0;
	font-size: 1.5rem;
	position: relative;
	// overflow: auto;
	--positive-main: var(--green);
	--positive-secondary: green;
	--positive-bg: var(--transparent-white);

	--negative-main: var(--red-1, red);
	--negative-secondary: var(--red-3, darkred);
	--negative-bg: var(--black, black);

	--yesNoQ-main: var(--sleeve-darker-1, purple);
	--yesNoQ-secondary: var(--robe-darker-3, purple);
	// --yesNoQ-bg: var(--robe-darker-2, lightblue);
	--yesNoQ-bg: var(--transparent-black, gray);

	--whQ-main: var(--dark-pink, purple);
	// --whQ-secondary: var(--sleeve-darker-2, purple);
	--whQ-secondary: var(--sleeve-darker-3, purple);
	// --whQ-bg: var(--dark-pink, purple);
	--whQ-bg: var(--transparent-black, gray);
	// canvas

	--subjectQ-main: var(--body-lighter-1, tan);
	--subjectQ-secondary: peru;
	// --subjectQ-bg: var(--body-base, purple);
	--subjectQ-bg: var(--canvas, gray);
	// --subjectQ-bg: tan;

	--color-main: var(--positive-main);
	--color-secondary: var(--positive-secondary);
	--color-bg: var(--positive-bg);

	.background {
		z-index: -1;
	}

	.zone {
		width: 100%;
		overflow: auto;
	}

	.header-zone {
		height: 20%;
		z-index: 1;
		background-color: var(--white);
		font-size: 3rem;
		--font-size: 3rem;
		color: var(--black);
		--font-color: var(--black);
		background-color: var(--white);
		--shadow-color: var(--color-main);

		display: flex;
		justify-content: center;
		.sentence-type--header {
			width: 100%;
			position: sticky;
			display: flex;
			justify-content: center;
			top: 0;
			z-index: 100;
			*::selection {
				background-color: var(--white);
			}
		}

		.letter {
			color: black;
			z-index: 100;
			margin: auto 0;
			--font-size: 3rem;
			font-size: 3rem;
			--font-fill-color: var(--color-main);
		}
	}
	.footer-zone {
		height: 0%;
		z-index: 1;
		.empty-btn {
			z-index: 10;
			position: absolute;
			bottom: calc(var(--spacing, 8px) * 2);
			right: calc(var(--spacing, 8px) * 2);

			&:focus,
			&:hover,
			&:active {
				background-color: var(--white, white);
				svg {
					// transform: rotate(180deg);
					animation-name: rotating-KF;
					@extend .rotating;
					fill: var(--primary);
				}
			}
		}
	}

	.table-zone {
		height: 80%;
		padding: var(--spacing);
		display: flex;
		z-index: 2;
		position: relative;
		overflow: auto;

		thead {
			display: none;
		}

		.basic-table-container {
			margin: auto;
			overflow-x: hidden;
			.table {
				color: var(--black);
				&.hide-header {
					thead {
						padding: 0;
						margin: 0;
						height: 0;
						max-height: 0;
						top: 0;
					}
				}
				// background-color: var(--color-main);

				tr.row.header-row {
					height: 0;
				}

				.row {
					opacity: 1;
					.word-breaker,
					.word-breaker:focus {
						opacity: 1;
					}

					// opacity: 0.1;
					outline: none;
					overflow: hidden;
					line-height: 2;
					min-height: 1.5rem;
					// font-size: 1.5rem;
					&:hover {
						opacity: 1;
					}
					transition: opacity 0.3s ease-in-out;
					// transform-origin: left;

					.type-column {
						user-select: none;
						width: 10%;
						&:active,
						&:visited {
							outline: none;
							border: none;

							animation: rotating-KF 0.5s infinite;
							animation-name: rotating-KF;
							animation-duration: 1.25s;
							animation-iteration-count: infinite;
							animation-timing-function: ease;

							// animation-delay: 0.2s;
						}

						.ball.shiny-ball {
							font-size: 1rem;
							background: radial-gradient(
								circle at 65% 15%,
								var(--color-main) 3%,
								var(--color-secondary) 60%,
								var(--color-main) 100%
							);
							color: white;
						}
					}

					.text-column {
						background: var(--white);
						border-radius: calc(0.25 * var(--spacing));
						width: 90%;
						transform-origin: left;
						transition-duration: 0.25s;

						.word-breaker {
							transition: opacity 0.2s ease-in;
							// opacity: 0.2;
							background-color: var(--transparent);
							&:hover {
								opacity: 0.55;
							}
							&:focus,
							&:active {
								opacity: 1;
								background-color: var(--white);
							}
							&::selection,
							b::selection,
							u::selection,
							i::selection {
								// background: var(--transparent-white);
								background-color: var(--color-main);
								color: var(--black);
								outline: none;
								border: none;
							}
							padding: 0;
							text-indent: calc(2 * var(--spacing));
							// line-height: 4rem;
							line-height: 2;
							border-radius: 0.5rem;
						}
					}

					&.positive,
					&.negative {
						// the "+"" and "-" characters are tiny. enlarge them
						.type-column {
							.ball {
								font-size: 1.25rem;
							}
						}
					}

					&.positive {
						.type-column .shiny-ball {
							background: radial-gradient(
								circle at 65% 15%,
								var(--positive-main) 3%,
								var(--positive-secondary) 60%,
								var(--transparent) 100%
							);
						}
					}
					&.negative {
						.type-column .shiny-ball {
							background: radial-gradient(
								circle at 65% 15%,
								var(--negative-main) 3%,
								var(--negative-secondary) 60%,
								var(--negative-bg) 100%
							);
						}
					}
					&.yesNoQ {
						.type-column .shiny-ball {
							background: radial-gradient(
								circle at 65% 15%,
								var(--yesNoQ-main) 3%,
								var(--yesNoQ-secondary) 60%,
								var(--yesNoQ-bg) 100%
							);
						}
					}
					&.whQ {
						.type-column .shiny-ball {
							background: radial-gradient(
								circle at 65% 15%,
								var(--whQ-main) 3%,
								var(--whQ-secondary) 60%,
								var(--whQ-bg) 100%
							);
						}
					}
					&.subjectQ {
						// subject
						.type-column .shiny-ball {
							background: radial-gradient(
								circle at 65% 15%,
								var(--subjectQ-main) 3%,
								var(--subjectQ-secondary) 60%,
								var(--subjectQ-bg) 100%
							);
							color: var(--black);
						}
					}
				}
			}

			.type-column {
				opacity: 0.9;
				transform-origin: left;
				transition-duration: 0.25s;
			}
			.text-column {
				opacity: 1;
			}
			&.selected-type--positive {
				.row {
					&:not(*.positive) {
						.type-column,
						.text-column {
							opacity: 0.2;
							&:hover {
								opacity: 1;
							}
						}
					}

					&.positive {
						.type-column,
						.text-column {
							opacity: 1;
							transform: scale(1.2);
							transition-property: transform;
							transition-timing-function: ease-in-out;
						}

						.type-column {
							transform-origin: center;
						}

						.text-column {
							transform-origin: left;
						}
					}
				}
			}
			&.selected-type--negative {
				.row {
					// opacity: 1;
					&:not(*.negative):not(*.positive) {
						.type-column,
						.text-column {
							opacity: 0.2;
							&:hover {
								opacity: 0.9;
							}
						}
					}

					&.positive {
						.type-column,
						.text-column {
							opacity: 0.8;
							&:hover {
								opacity: 1;
							}
						}
						.text-column {
							background-color: var(--white);
						}
					}
					&.negative {
						.type-column,
						.text-column {
							opacity: 1;
							transform: scale(1.2);
							transition-property: transform;
							transition-timing-function: ease-in-out;
						}
						.type-column {
							transform-origin: center;
						}

						.text-column {
							transform-origin: left;
						}
					}
				}
			}

			&.selected-type--yesNoQ {
				.row {
					&:not(*.yesNoQ):not(*.positive) {
						.type-column,
						.text-column {
							opacity: 0.2;
							&:hover {
								opacity: 0.9;
							}
						}
					}

					&.positive {
						.type-column,
						.text-column {
							opacity: 0.8;
							&:hover {
								opacity: 1;
							}
							transform-origin: left;
						}
						.text-column {
							background-color: var(--white);
						}
					}

					&.yesNoQ {
						.type-column,
						.text-column {
							opacity: 1;
							transform: scale(1.2);
							transition-property: transform;
							transition-timing-function: ease-in-out;
						}
						.type-column {
							transform-origin: center;
						}

						.text-column {
							transform-origin: left;
						}
					}
				}
			}

			&.selected-type--whQ {
				.row {
					&:not(*.whQ):not(*.yesNoQ) {
						.type-column,
						.text-column {
							opacity: 0.2;
							&:hover {
								opacity: 0.9;
							}
						}
					}

					&.yesNoQ {
						.type-column,
						.text-column {
							opacity: 0.8;
							&:hover {
								opacity: 1;
							}
							transform-origin: left;
						}
						.text-column {
							background-color: var(--white);
						}
					}

					&.whQ {
						.type-column,
						.text-column {
							opacity: 1;
							transform: scale(1.2);
							transition-property: transform;
							transition-timing-function: ease-in-out;
						}
						.type-column {
							transform-origin: center;
						}

						.text-column {
							transform-origin: left;
						}
					}
				}
			}
			&.selected-type--subjectQ {
				.row {
					&:not(*.subjectQ) {
						.type-column,
						.text-column {
							opacity: 0.2;
							// transition-duration: 0.2;
							&:hover {
								opacity: 0.9;
							}
						}
					}

					&.positive {
						.type-column,
						.text-column {
							opacity: 0.65;
							&:hover {
								opacity: 1;
							}
						}
						.text-column {
							background-color: var(--white);
						}
					}
					&.subjectQ {
						.type-column,
						.text-column {
							opacity: 1;
							transform: scale(1.2);
							transition-property: transform;
							transition-timing-function: ease-in-out;
							transition-duration: 0.2;
						}
						.type-column {
							transform-origin: center;
						}

						.text-column {
							transform-origin: left;
						}
					}
				}
			}

			width: 100%;
			// border-spacing: 0.5em;
			border-spacing: 0 calc(2 * var(--spacing));

			background-color: unset;
			//padding: var(--spacing, 8px);
			padding: 0;
			padding-right: var(--spacing);
			// margin: var(--spacing, 8px);

			.table-header {
				//padding: var(--spacing, 8px);
				padding: 0;
				height: 0;
				// line-height: 1.5;
				vertical-align: top;
				tr.row.row-header {
					height: 0;
				}

				&.sentence-type {
					width: 17.5%;
					margin-right: var(--padding);
				}
				&.sentence {
					width: 82.5%;
					// margin-right: var(--padding);
				}
			}

			.table-cell {
				line-height: 1.2;
				outline: none;
				border: none;
				&.type-column {
					/* e.g.: + , - , yes/no... */
					text-align: center;
					// font-size: 1.5rem;
					background: unset;
					&:hover {
						background: unset;
					}
					.ball {
						font-size: 0.5rem;
						width: 2rem;
						height: 2rem;
					}
				}
				&.text-column {
					// border: 1px solid var(--black);
					padding: 0;
				}
				margin: 0;
				// background-color: var(--tranparent-white, white);
				transition: all 0.3s;
				overflow: visible;
				::selection {
					background-color: var(--transparent-white, white);
					// color: var(--black, black);
				}
				.word-breaker {
					&:focus {
						outline: none;
					}
				}
				&.dynamic-shadow {
					transform-origin: left;
					&:hover {
						transform: scale(1.1, 1.1);
						transform-origin: left;
					}
				}
			}
		}
	}
}

#root .phone .sentence-types {
	.table {
		font-size: 1.2rem;
	}
}

//ball size
#root .phone.portrait .sentence-types,
#root .phone.landscape .sentence-types {
	// min-height: calc(100 * var(--vh-max--portrait) - var(--appbar-height));
	.header-zone {
		height: 10%;
		z-index: 1;
		.letter {
			font-size: 1.75rem;
			--font-size: 1.75rem;
		}
	}

	.basic-table-container {
		.table {
			.row-0,
			.row-1 {
				.table-cell.type-column {
					.ball {
						font-size: 1.5rem;
					}
				}
			}
			.table-cell.type-column {
				.ball {
					width: 2.75rem;
					height: 2.75rem;
					font-size: 0.75rem;
					padding: 0;
				}
			}

			.text-column .word-breaker {
				line-height: 3rem;
			}
		}
	}
}
// #root .phone.portrait:not(*.mobile) {
// 	.header-zone {
// 		height: 10%;
// 		z-index: 1;
// 		.letter {
// 			font-size: 1.75rem;
// 			--font-size: 1.75rem;
// 		}
// 	}
// 	.table-zone {
// 		height: 90%;
// 		.table-header {
// 			&.sentence-type {
// 				width: 10%;
// 			}
// 			&.sentence {
// 				width: 90%;
// 			}
// 			tr.row.row-header {
// 				.table-cell {
// 					height: 0;
// 				}
// 			}
// 		}
// 	}
// 	.footer-zone {
// 		height: 0%;
// 	}
// }

#root .phone.landscape:not(*.mobile) .sentence-types {
	.header-zone {
		height: 12.5%;
	}
	.table-zone {
		height: 87.5%;
		padding: 0;

		.table {
			font-size: 2rem;
			border-spacing: 0.25em;
			height: auto;
			width: 100%;

			border-spacing: 1em;
			.table-header {
				&.sentence-type {
					width: 10%;
				}
				&.sentence {
					width: 90%;
				}
				tr.row.row-header {
					.table-cell {
						height: 0;
					}
				}
			}

			tr.row:not(*.header-row) {
				height: 3.5rem;
				line-height: 3.5rem;

				td.table-cell {
					// height: 1rem;
					&.text-column .word-breaker {
						line-height: 3.5rem;
					}
				}
			}

			// .type-column {
			// 	.ball {
			// 		width: 3rem;
			// 		height: 3rem;
			// 		font-size: 0.9rem;
			// 	}
			// }

			.table-header,
			.table-cell {
				&.sentence {
					width: 92.5%;
					font-size: 1.75rem;
				}
				&.sentence-type {
					width: 7.5%;
					padding: 0;
					.ball {
						font-size: 0.65rem;
						width: 2.5rem;
						height: 2.5rem;
					}
				}
			}

			.row {
				&.row-0,
				&.row-1 {
					.type-column {
						.ball {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}

#root .phone.portrait,
#root .mobile.phone.landscape {
	.portrait-only--phone.sentence-types,
	.sentence-types {
		.header-zone {
			height: 12.5%;
			z-index: 1;
			.letter {
				font-size: 1.75rem;
			}
		}
		.table-zone {
			height: 87.5%;
			.basic-table-container {
				display: flex;
				.table {
					margin: auto;
					padding: 0;
					// padding-right: calc(0.5 * var(--spacing));
					padding-left: 0;

					// .row:not(*.header-row) {
					// 	height: 1.6rem;
					// 	line-height: 1.5;
					// }

					border-spacing: 0 1rem;

					.table-header,
					.table-cell {
						&.sentence {
							width: 80%;
							font-size: 0.9rem;
							.in-cell {
								text-indent: var(--spacing);
							}
						}
						&.sentence-type {
							width: 20%;
							padding: 0;
							.ball {
								font-size: 0.55rem;
								width: 2rem;
								height: 2rem;
							}
						}
						&:hover {
							.in-cell {
								opacity: 1;
							}
						}
					}

					.row {
						&.positive,
						&.negative {
							.ball {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
		.footer-zone {
			height: 0%;
		}
	}
}

#root .phone.landscape .sentence-types:not(*.portrait-only--phone) {
	overflow: auto;
	.header-zone {
		height: 7.5%;
	}
	.table-zone {
		height: 92.5%;
		padding: 0;

		.table {
			// min-height: 100%;
			border-spacing: 0 var(--spacing);
			height: auto;
			width: 90%;
			margin: auto;
			// margin-right: calc(2 * var(--spacing));
			// margin-left: calc(-2 * var(--spacing));
			// padding-right: 0;
			.table-header {
				.type-column {
					width: 10%;
				}
			}

			.type-column {
				.ball {
					width: 3rem;
					height: 3rem;
					font-size: 0.75rem;
				}
			}

			tr.row {
				height: 3rem;
				td.table-cell {
					height: 1rem;
					&.text-column .word-breaker {
						line-height: 3rem;
					}
				}
				&.row-0,
				&.row-1 {
					.type-column {
						.ball {
							font-size: 1.75rem;
						}
					}
				}
			}
		}
	}
}

#root .mobile.tablet.portrait,
#root .mobile.tablet.landscape {
	.sentence-types {
		.header-zone {
			height: 12.5%;
		}
		.table-zone {
			height: 87.5%;

			.table {
				font-size: 2rem;
				border-spacing: 0.25em;
				height: auto;
				width: 100%;

				// margin-right: calc(2 * var(--spacing));
				// margin-left: calc(-1 * var(--spacing));
				border-spacing: 1em;
				.table-header {
					&.sentence-type {
						width: 15%;
					}
					&.sentence {
						width: 70%;
					}
				}
				.table-cell {
					padding: 0;
				}
				tr.row {
					// height: 5rem;

					td.table-cell {
						// height: 1rem;
						&.text-column .word-breaker {
							// line-height: 5rem;
						}
					}
				}

				.type-column {
					.ball {
						width: 4rem;
						height: 4rem;
						font-size: 1rem;
					}
				}

				.row {
					&.row-0,
					&.row-1 {
						.type-column {
							.ball {
								font-size: 2.2rem;
							}
						}
					}
				}
			}
		}
	}
	// .footer-zone {
	// 	height: 7.5%;
	// }
}

#root .tablet.portrait:not(*.mobile),
#root .large-screen.portrait {
	.sentence-types {
		.header-zone {
			height: 12.5%;
		}
		.table-zone {
			height: 87.5%;
			padding: 0;
			.basic-table-container {
				// display: flex;
			}

			.table {
				font-size: 2rem;
				border-spacing: 0.25em;
				height: auto;
				width: 100%;
				padding: 0;
				// margin: auto;
				// margin-right: calc(2 * var(--spacing));
				// margin-left: calc(-1 * var(--spacing));
				border-spacing: 1em;

				.table-header,
				.table-cell {
					&.sentence {
						width: 90%;
						font-size: 1.2rem;
						height: 4rem;
					}
					&.sentence-type {
						width: 10%;
						padding: 0;
						.ball {
							font-size: 0.65rem;
							width: 2.75rem;
							height: 2.75rem;
						}
					}
				}

				.row {
					&.row-0,
					&.row-1 {
						.type-column {
							.ball {
								font-size: 1.5rem;
							}
						}
					}
				}

				.table-cell {
					padding: 0;
				}
				tr.row:not(*.header-row) {
					// height: 2rem;

					td.table-cell {
						// height: 1rem;
						&.text-column .word-breaker {
							// line-height: 5rem;
						}
					}
				}
			}
		}
	}
}

#root .mobile.tablet.landscape .sentence-types:not(*.portrait-only--phone) {
	.header-zone {
		height: 12.5%;
	}
	.table-zone {
		height: 87.5%;
		.basic-table-container {
			.table {
				font-size: 2rem;
				border-spacing: 0.25em;
				height: auto;
				width: 100%;
				border-spacing: 0.75em;

				.table-header {
					&.sentence-type {
						width: 12.5%;
					}
					&.sentence {
						width: 87.5%;
					}
				}
				tr.row {
					// height: 5rem;
					td {
						// height: 5rem;
					}

					td.table-cell {
						// height: 5rem;
						&.text-column .word-breaker {
							line-height: 4.2rem;
						}
					}
				}

				.table-header,
				.table-cell {
					&.sentence {
						width: 90%;
						font-size: 1.5rem;
						height: 4rem;
					}
					&.sentence-type {
						width: 10%;
						padding: 0;
						.ball {
							font-size: 0.8rem;
							width: 3.25rem;
							height: 3.25rem;
						}
					}
				}

				.row {
					&.row-0,
					&.row-1 {
						.type-column {
							.ball {
								font-size: 2rem;
							}
						}
					}
				}
			}
		}
	}
	// .footer-zone {
	// 	height: 7.5%;
	// }
}

#root .tablet.landscape:not(*.mobile),
#root .large-screen.landscape {
	.sentence-types {
		.header-zone {
			height: 12.5%;
		}
		.table-zone {
			height: 87.5%;
			.basic-table-container {
				.table {
					font-size: 2rem;
					border-spacing: 0.25em;
					height: auto;
					width: 100%;
					border-spacing: 0.75em;

					.table-header {
						&.sentence-type {
							width: 12.5%;
						}
						&.sentence {
							width: 87.5%;
						}
					}
					tr.row {
						// height: 5rem;
						td {
							// height: 5rem;
						}

						td.table-cell {
							// height: 5rem;
							&.text-column .word-breaker {
								line-height: 4.2rem;
							}
						}
					}

					.table-header,
					.table-cell {
						&.sentence {
							width: 90%;
							font-size: 2rem;
							height: 4rem;
						}
						&.sentence-type {
							width: 10%;
							padding: 0;
							.ball {
								font-size: 0.8rem;
								width: 3.25rem;
								height: 3.25rem;
							}
						}
					}

					.row {
						&.row-0,
						&.row-1 {
							.type-column {
								.ball {
									font-size: 2rem;
								}
							}
						}
					}
				}
			}
		}
	}
	// .footer-zone {
	// 	height: 7.5%;
	// }
}

#root .xl-screen.portrait .sentence-types {
	.header-zone {
		height: 10%;
	}
	.table-zone {
		height: 90%;

		.table {
			font-size: 2rem;
			height: auto;
			width: 100%;
			margin-right: calc(2 * var(--spacing));
			margin-left: calc(-1 * var(--spacing));
			// border-spacing: 0.25em;
			// border-spacing: 1em;
			.table-header {
				&.sentence-type {
					width: 15%;
				}
				&.sentence {
					width: 70%;
				}
			}

			tr.row {
				// height: 5rem;
				td {
					// height: 1rem;
				}
				.table-cell {
					padding: 0;

					.ball {
						width: 4rem;
						height: 4rem;
						font-size: 2rem;
					}
				}

				.text-column .word-breaker {
					// line-height: 5rem;
				}
			}
		}
	}
	// .footer-zone {
	// 	height: 10%;
	// }
}

#root .landscape .landscape-mode.sentence-types {
	.has-before.spheres-blob:before {
		background-size: 33% 20%;
	}
}

#root .large-screen.landscape .sentence-types,
#root .xl-screen.landscape .sentence-types {
	.header-zone {
		height: 10%;
	}
	.table-zone {
		height: 80%;
		.table {
			font-size: 2rem;
			// border-spacing: 0.25em;
			// border-spacing: 0.75em;
			border-spacing: 2rem;
			height: auto;
			width: 70%;
			margin: auto;
			// margin-right: calc(2 * var(--spacing));
			// margin-left: calc(-4 * var(--spacing));
			.table-header {
				&.sentence-type {
					width: 12.5%;
				}
				&.sentence {
					width: 87.5%;
				}
			}
			tr.row {
				// height: 5rem;
				td {
					// height: 1rem;
				}

				.ball {
					width: 4rem;
					height: 4rem;
				}
				.type-column {
					.ball {
						font-size: 1rem;
					}
				}

				&.row-0,
				&.row-1 {
					.type-column {
						// font-size: 2.5rem;
						.ball {
							font-size: 2rem;
						}
					}
				}

				td.table-cell {
					// height: 1rem;
					&.text-column .word-breaker {
						// line-height: 5rem;
					}
				}
			}
		}
	}
	// .footer-zone {
	// 	height: 10%;
	// }
}

.rotating {
	animation-name: rotating-KF;
	animation-duration: 1.85s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-delay: 0.2s;
}
@keyframes rotating-KF {
	0% {
		transform: rotate(0deg);
	}
	50%,
	100% {
		transform: rotate(360deg);
	}
}
