.classroom-select {
	.Carousel {
		max-width: 550px;
		margin: auto;
	}

	.carousel {
		border: 4px solid var(--canvas);
		&.selected {
			border: 4px solid var(--primary);
		}
	}

	.heading .letter {
		font-size: 1.75rem;
	}

	.carousel-container {
		padding: 64px 0;
	}

	svg {
		width: auto;
		margin: auto;
	}

	.heading {
		margin-left: 0;
		text-align: left;
	}

	.DotIndicator-root.-active:after {
		background-color: var(--secondary-lighter-2);
	}
}

.tablet,
.desktop-or-laptop {
	& {
		.classroom-select {
			.heading {
				// text-align: center;
			}

			.Carousel {
				margin-top: calc(var(--spacing) * 16);
			}
		}
	}
}
