#root .animals--home {
	overflow: hidden;
	.heroUnit {
		position: relative;
		box-sizing: border-box;
		background-color: var(--canvas, gray);
		min-width: 300px;
		max-width: 100%;
		flex-grow: 1;
		align-self: baseline;
	}
	.hero {
		box-sizing: border-box;
		min-width: 300;
		//max-width	: 600;
		width: 100%;
		height: auto;
		margin: auto;
		text-align: justify;
		align-self: baseline;
		// textJustify: "inter-word";
		padding: calc(3 * var(--spacing, 8px)) 0;
		background-color: var(--white, white);
	}

	.btn {
		margin: 0 var(--spacing, 8px);
	}
	.title,
	.heading1 {
		font-size: 2rem;
		font-weight: 300;
		margin: var(--spacing);
		z-index: 10;
		& > div {
			//word
			// background-color: yellow;
			.letter {
				// &:nth-child(odd) {
				// 	background-color: var(--canvas, black);
				// }
			}
		}
	}

	.heading2 {
		font-size: 1.5rem;
		margin: var(--spacing);
	}

	.emoji-carousel {
		width: 100%;
		// height: 30vh;
		height: 30%;
	}
}

#root .animals--home {
	.section {
		position: relative;
		// width: 100%;
		display: flex;
		margin: auto;
		text-align: center;
		transition: all 0.2s;
		&:not(*.nav-section):hover {
			transform: scale(1.25);
		}
	}

	.letter {
		height: auto;
		margin: auto;
		transition-property: all;
		background-color: var(--transparent);
		&:hover {
			// color: var(--secondary);
			// background-color: var(--transparent-yellow);
		}
	}
}

#root .portrait {
	&.phone,
	&.tablet,
	&.large-screen,
	&.xl-screen {
		.animals--home {
			.marquee-section {
				font-size: 1.5rem;
				height: 12.5%;
				.transition-box {
					display: flex;
				}
			}

			.subject-section {
				font-size: 3.25rem;
				height: 20%;
				display: flex;
				letter-spacing: 0.25rem;
				.transition-box {
					display: flex;
				}
			}

			.emoji-section {
				// font-size: 1.5rem;
				height: 47.5%;
				width: 100%;
				.transition-box {
					display: flex;
					.emoji-carousel {
						height: 100%;
						.emoji {
							font-size: 4rem;
							cursor: crosshair;
						}
					}
				}
			}
			.nav-section {
				height: 20%;
				display: flex;
				> div {
					margin: auto;
				}
			}
		}
	}
}

#root .landscape {
	&.phone {
		.animals--home {
			.marquee-section {
				font-size: 1.25rem;
				height: 15%;
				.transition-box {
					display: flex;
				}
			}

			.subject-section {
				font-size: 2.5rem;
				height: 25%;
				display: flex;
				letter-spacing: 0.25rem;
				.transition-box {
					display: flex;
				}
			}

			.emoji-section {
				// font-size: 1.5rem;
				height: 40%;
				width: 100%;
				.transition-box {
					display: flex;
					.emoji-carousel {
						height: 100%;
						.emoji {
							font-size: 3rem;
						}
					}
				}
			}
			.nav-section {
				height: 20%;
				display: flex;
				> div {
					margin: auto;
				}
			}
		}
	}
	&.tablet,
	&.large-screen,
	&.xl-screen {
		.animals--home {
			.marquee-section {
				font-size: 2rem;
				height: 12.5%;
				.transition-box {
					display: flex;
				}
			}

			.subject-section {
				font-size: 3.5rem;
				height: 25%;
				display: flex;
				letter-spacing: 0.5rem;
				.transition-box {
					display: flex;
				}
			}

			.emoji-section {
				// font-size: 1.5rem;
				height: 42.5%;
				width: 100%;
				.transition-box {
					display: flex;
					.emoji-carousel {
						height: 100%;
						.emoji {
							font-size: 3rem;
						}
					}
				}
			}
			.nav-section {
				height: 20%;
				display: flex;
				> div {
					margin: auto;
				}
			}
		}
	}
}
