@import "../../styles/variables.scss";

#root .draggable-box {
	// min-width: 50%;
	// max-width: calc(100 * var(--vh));
	// min-height: 20%;
	// max-height: calc(50 * var(--vh));
	position: fixed;
	z-index: 10000;
	bottom: 0;
	left: 0;
	background-color: var(--yellow-transparent);
	border-radius: 8px 8px 8px 0;
	.basic-table-container {
		background-color: unset;
	}
	&:hover {
		background-color: var(--yellow);
	}
	.debugger-view {
	}
}
