#root .emoji-carousel {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	.emoji {
		font-size: 52px;
		margin: auto;
		user-select: none;
	}
}

#root .phone .emoji-carousel {
	.emoji {
		font-size: 52px;
	}
}

#root .tablet .emoji-carousel {
	.emoji {
		font-size: 68px;
	}
}

#root .large-screen .emoji-carousel {
	.emoji {
		font-size: 72px;
	}
}

#root .xl-screen .emoji-carousel {
	.emoji {
		font-size: 76px;
	}
}
