#root .phone.landscape.View--main .home {
	padding: $spacing * 1;
	height: auto;
	.heading1 {
		margin: $spacing * 1;
		font-size: 3.25rem;
	}
	.heading2 {
		margin-bottom: $spacing * 2;
		font-size: 1.25rem;
	}
	.emoji-carousel-container {
		height: 30%;
		zoom: 1;
	}
	.btns-row {
		margin-bottom: $spacing * 1;
	}
	.btn {
		font-size: 90%;
	}
}
#root .phone.portrait.View--main .home {
	height: auto;
	.heading1 {
		margin-bottom: $spacing * 1;
	}
	.heading2 {
		margin-bottom: $spacing * 2;
	}
	.emoji-carousel-container {
		height: 50%;
	}
}
